{% extends "base.html.twig" %}
{% block body %}
    <h1>Axenov it school API service</h1>
    <section>
        <h1>Your verfy email is success</h1>
        <a href="/login">Go to login</a>
    </section>
{% endblock %}
