{% extends "base.html.twig" %}
{% block body %}
    <h1 class="page__main">Axenov it school API service</h1>
    {% if app.user %} 
        <h2>Hello {{app.user.username}} / <a href="/personal">Personal</a></h2>
    {% endif %} 
    <section>
        <h3>API BLOG URLS</h3>    
        <div>
            <p class="row-block"><b>Get list posts method (GET)</b> <input class="input-block" value="http://blog.api.axenov-it.com/v1/posts" /></p>
            Params: "limit" default 10, "page" default 10, "api_key" - your api key from personal page
        </div>
        
        <div>
            <p class="row-block"><b>Get post method (GET)</b> <input class="input-block" value="http://localhost:3000/v1/posts/postId" /></p>
            Params: "api_key" - your api key from personal page
        </div>
        
        <div>
            <p class="row-block"><b>Add post method (POST)</b> <input class="input-block" value="http://localhost:3000/v1/posts" /></p>
            Params: "title", "description", "status", "seo_url", "api_key" - your api key from personal page
        </div>
        
        <div>
            <p class="row-block"><b>Update post method (PUT)</b> <input class="input-block" value="http://localhost:3000/v1/posts/postId" /></p>
            Params: "title", "description", "status", "seo_url", "api_key" - your api key from personal page
        </div>
        
        <div>
            <p class="row-block"><b>Delete post method (DELETE)</b> <input class="input-block" value="http://localhost:3000/v1/posts/postId" /></p>
            Params: "api_key" - your api key from personal page
        </div>
        
        
    </section>
{% endblock %}
