{% extends "base.html.twig" %}
{% block body %}
	<h1>Axenov it school API service</h1>
	<section>
		<h3>API BLOG URLS</h3>
		<p class="row-block"><b>Get list posts method (GET)</b> <input class="input-block" value="http://blog.api.axenov-it.com/posts" /></p>
		<p class="row-block"><b>Get post method (GET)</b> <input class="input-block" value="http://localhost:3000/posts/1" /></p>
	</section>
{% endblock %}
