{% extends "base.html.twig" %}
{% block body %}
    <h1 class="page__main">Axenov it school API service</h1>
    <section>
        <h1>Your is registration success, let`s go to confirm your email and go to logtin</h1>
        <a href="/login">Go to login</a>
    </section>
{% endblock %}
