{% extends "base.html.twig" %}
{% block body %}
    <h1 class="page__main">Registration</h1>
    <form action="/registration" method="POST">
        <fieldset class="registration">
            <legend>Registration</legend>
            <input class="registration__text" name="username" placeholder="enter login"/>
            <input class="registration__text" name="email" placeholder="enter email"/>
            <input class="registration__text" name="password" type="password" placeholder="enter password"/>
            <button class="registration__btn">
                registration
            </button>
        </fieldset>
    </form>

{% endblock %}
